.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primary-btn button{
    border: none;
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border-radius: 41px;
    color: white;
    font-weight: bold;
}
header{
    padding: 60px 120px;
}
main{
    padding: 60px 120px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
}
.menu img{
    width: 29px;
}
.logo h4{
    font-size: 24px;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu li{
    padding-left: 34px;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    gap: 130px;
    margin-top: 80px;
    padding-right: 33px;
    margin-bottom: 100px;
}
.left-hero h3{
    padding-top: 65px;
    font-size: 52px;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}
.left-hero p{
    color: rgba(58, 58, 58, 1);
    margin-bottom: 20px;
}
.right-hero img{
    width: 440px;
}
.hero-cart{
    display: flex;
    justify-content: center;
    gap: 70px;
    border: 1px solid rgba(179, 170, 170, 0.247);
    padding: 20px 30px;
    border-left: none;
    border-right: none;
    /* margin-bottom: 100px; */
}
/* .hero-cart {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  max-width: 900px; 
  margin: 0 auto; 
  padding: 20px 0; 
} */
 .main-container-hero{
    padding-left: 65px;
    padding-right: 65px;
 }
 .main-container-hero h2{
    text-align: center;
    font-size: 28px;
    padding-bottom:40px ;
    color: rgba(58, 58, 58, 1);
 }

 .main-containar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
 }
.main-containar .main-cart {
    margin: 30px;
    padding: 15px;
    width: 330px;
    height: 475px;
    box-shadow: 0px 0px 20px 2px rgba(204, 203, 203, 0.719);
}
.main-cart h3{
    text-align: left;
    font-weight: 600;
    font-size: 28px;
}
.main-cart h4{
    font-weight: normal;
    font-size: 24px;
    text-align: left;
}
.main-cart p{
    font-size: 14px;
    text-align: left;
    font-weight: normal;
}


